/* Importa o CSS Geral */
@import url('../../source/styles/global.css');

body {
    background: #f2f2f2; /* Fundo cinza claro */
    color: #333; /* Cor do texto mais escura */
    margin: auto;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
}

form {
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    margin: 1px;
    width: 480px;
}

h2 {
    text-align: center;
    color: #4285F4; /* Cor azul para o t�tulo */
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Cor do texto mais escura */
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #4285F4;  
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.25); /* Cor azul mais suave ao focar */
}

button {
    background-color: #4285F4; /* Cor azul para o bot�o */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
    display: block;
}

button:hover {
    background-color: #3B5998; /* Cor azul mais escura ao passar o mouse sobre o bot�o */
}
/* Estilos para o texto "J� possui uma conta?" */
.account-text {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.account-text a {
    color: #4285F4;
    text-decoration: none;
}

.account-text a:hover {
    text-decoration: underline;
}
