/* Importa o CSS Geral */
@import url('../source/styles/global.css');

/* Estilos espec�ficos para a p�gina de configura��o */
body {
    background-color: #f2f2f2;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    height: 100vh;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

h2 {
    color: #4285F4;
}

section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #4285F4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(66, 133, 244, 0.25);
}

button {
    background-color: #4285F4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: auto;
}

button:hover {
    background-color: #3B5998;
}

/* Adicione estilos espec�ficos para cada se��o conforme necess�rio */